.idea/workspace.xml
.idea
KwetterProject_1/KwetterProject_1-web/target/surefire-reports/TEST-Service.KwetterServiceTest.xml
KwetterProject_1/KwetterProject_1-web/target/
KwetterProject_1/KwetterProject_1-web/target/surefire-reports/TEST-Service.KwetterServiceTest.xml
KwetterProject_1/KwetterProject_1-web/target/surefire-reports/TEST-Service.KwetterServiceTest.xml
KwetterProject_1/KwetterProject_1-web/target/surefire-reports/Service.KwetterServiceTest.txt
KwetterProject_1/KwetterProject_1-web/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
KwetterProject_1/KwetterProject_1-web/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
KwetterProject_1/KwetterProject_1-web/target/maven-archiver/pom.properties
*.class
KwetterProject_1/KwetterProject_1-web/target/surefire-reports/TEST-Service.KwetterServiceTest.xml